<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="johannt.carpool_2">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />


    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/carpool_logo_layer"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login_Phase.MainActivity"
            android:label="@string/title_activity_CarpoolU"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login_Phase.SignInActivity"
            android:label="@string/title_activity_Sign_In"
            android:parentActivityName=".Login_Phase.MainActivity" />
        <activity
            android:name=".Login_Phase.SignUpActivity"
            android:label="@string/title_activity_Sign_up"
            android:parentActivityName=".Login_Phase.MainActivity" />
        <activity
            android:name=".Profile_Features.ProfileActivity"
            android:label="@string/title_activity_Profile"
            android:parentActivityName=".Login_Phase.MainActivity" />
        <activity
            android:name=".Profile_Features.PublishActivity"
            android:label="@string/title_activity_publish"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Profile_Features.FindRideActivity" />
        <activity android:name=".Login_Phase.PasswordReset" />
        <activity
            android:name=".Rides_And_Validator.MyDrives"
            android:label="@string/title_activity_My_drives" />
        <activity
            android:name=".Login_Phase.ProfileSettingActivity"
            android:label="@string/title_activity_profile_setting" />
        <activity
            android:name=".Rides_And_Validator.ResultActivity"
            android:label="@string/title_activity_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile_Features.RidesHistory"
            android:label="@string/title_activity_rides_history"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>